/* CSS document */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("pmotbackground2.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/*
p{
    margin-bottom: 20px;
}
*/

.container{
  overflow:hidden;
  margin-top: 0;
  padding-top: 0;
}

.menu {
  height: 130px;
  background-color: rgba(7, 7, 8, 0.3); /* Green */
  text-align: center;
  font-family: thunderstorm.otf;
  color: pink;
  font-size: 100px;
}

.sidebar {
  float: left;
  width: 125px;
  height: 540px;
  background-color: rgba(227, 42, 45, 0.56); /* Red */

}

.content {
  font-family: 'Desdemona', arial;
  float: left;
  width: 725px;
  height: 500px;
  background-color: rgba(42, 190, 227, 0.43); /* Blue */
  padding: 20px;
  font-color: white;
}

.footer {
  height: 150px;
  overflow: hidden;
  background-color: rgba(212, 227, 42, 0.43); /* Yellow */
}
